*{box-sizing: border-box;}

.main{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 200px 1fr;    
    width: 590px;
    border: 1px solid;
    border-radius: 10px;
}

.blc_left{
    margin: 20px 10px 10px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 50px 50px;    

}

.blc_right{
    margin: 20px 20px 10px 10px;
    overflow-y: scroll;
}

.title{
    font-size: 22px;
    width: 100%;
    line-height: 68px;
    font-size: 35px;
    text-align: center;
    background-color: lightgray;
    border: 1px solid black;
    position: sticky;
    top: 0px;
}

.circle{
    border: 1px solid black;
    line-height: 26px;
    margin-top: 2px;
    text-align: center;
}

#timer{
    grid-column: 1/3;
    font-size: 45px;
    text-align: center;
}


.btn{
    margin: 10px;
    height: 40px;
}

.text{
    grid-column: 1 / 3;
    margin: 10px 20px 20px 20px;
}